.simple-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    height: 8rem;
    width: 100%;
    background-color: var(--primary-color);
    padding: 10px;
    min-width: 320px;
}

.simple-header-logo-img {
    width: 200px;
}

@media (max-width:899px) {
    .simple-header-button-container {
        display: none;
    }
}