.menu-item-category {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
    gap: 20px;
    border: none;
    border-top: solid 1px var(--custom-ligth-gray);
    height: 50px;
    width: 100%;
    justify-content: left;
}

.menu-item-img-container {
    width: 40px;
    height: 40px;
}

.menu-item-img {
    width: 40px;
    height: 40px;
}

.menu-item-label {
    font-size: 1.4rem;
    color: var(--custom-dark-gray);
    text-align: left;
}

.menu-item-category:link { text-decoration: none; }

.menu-item-category:visited { text-decoration: none; }

.menu-item-category:hover { text-decoration: none; }

.menu-item-category:active { text-decoration: none; }

@media (max-width:899px) {
    .menu-item-category {
        display: flex;
        align-items: center;
        padding: 5px 20px 5px 20px;
        gap: 20px;
        border-top: solid 1px var(--custom-gray);
        height: 50px;
    }

    .menu-item-img-container {
        width: 40px;
        height: 40px;
    }

    .menu-item-img {
        width: 40px;
        height: 40px;
    }

    .menu-item-label {
        font-size: 1.6rem;
        color: var(--custom-dark-gray);
    }
}