.input-main-container {
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.input {
    border: solid 1px var(--custom-gray);
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
}

.input-error {
    border: solid 1px #dc3545;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
}

.input-msg {
    color: #dc3545;
    font-size: 1.4rem;
    height: 20px;
    margin-left: 95px;
    margin-top: 5px;
}

.input-label {
    font-size: 1.4rem;
    width: 100px;
}

.input:focus {
    outline: none;
    border: solid 1px var(--primary-color);
}

@media (max-width:899px) {
    .input-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .input-label {
        font-size: 1.4rem;
        width: 100%;
    }
}