.shoppingcart-list-for-payment-container {
    width: 450px;
    background-color: white;
    /*box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.75);*/
    border-left: solid 1px var(--custom-dark-gray);
}

.shoppingcart-list-for-payment-title {
    display: flex;
    color: var(--primary-color);
    font-size: 2rem;
    height: 50px;
    padding: 5px 20px 5px 20px;
    align-items: center;
    background-color: white;
    width: 240px;
    border-bottom: solid 1px var(--custom-ligth-gray);
}

.shoppingcart-item-for-payment-img-container {
    width: 40px;
    height: 40px;
}

.shoppingcart-item-for-payment-img {
    width: 40px;
    height: 40px;
}

.shoppingcart-item-for-payment-info-name {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
}

.shoppingcart-item-for-payment-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shoppingcart-item-for-payment {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.shoppingcart-item-for-payment-container {
    width: 100%;
    border-bottom: solid 1px var(--custom-ligth-gray);
    padding: 5px;
}

.shoppingcart-list-for-payment-for-payment-qty-container {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 10px;
}

.shoppingcart-list-for-payment-for-payment-qty-plus {
    display: flex;
    background-color: var(--primary-color);
    border: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 2.8rem;
}

.shoppingcart-list-for-payment-for-payment-qty-minus {
    display: flex;
    border: solid 1px var(--primary-color);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 2.8rem;
}

.shoppingcart-list-for-payment-for-payment-qty-input {
    width: 50px;
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    text-align: center;
}

.shoppingcart-item-for-payments-total-container {
    position: fixed;
    bottom: 0;
    border-top: solid 1px var(--custom-ligth-gray);
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: white;
}

.shoppingcart-list-for-payment-for-payment-total {
    width: 100%;
}

.shoppingcart-item-for-payment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingcart-item-for-payment-info-total {
    width: 100%;
    font-size: 1.8rem;
    transition: none;
}

.shoppingcart-item-for-payments {
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    height: 100vh;
}

.shoppingcart-list-for-payment-for-payment-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@media (max-width:899px) {
    .shoppingcart-list-for-payment-container {
        display: none;
    }
}