.category-container {
    margin-bottom: 50px;
    width: 100%;
}

.category-name {
    color: var(--primary-color);
    font-size: 4rem;
    width: 50%;
}

.category-products-container {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}