.signup-modal-form-buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.signup-tyc-msg {
    color: #dc3545;
    font-size: 1.4rem;
    height: 20px;
    /*margin-left: 95px;*/
    margin-top: 5px;
}

.signup-form-tyc-field {
    margin-bottom: 20px;    
}

.signup-form-field {
    display: flex;
    gap: 20px;
    
}

.signup-modal-from-spinner {
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
}