.home-main-container {
    min-width: 320px;
    max-width: 100%;
}

.home-header-menu {
    display: none;
}

.home-header-logo {
    
}

.home-header {
    position: fixed;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    z-index: 1000;
}

.home-header-top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.home-header-right-icons {
    display: flex;
    gap: 10px;
}

.home-header-logo-img {
    width: 200px;
}

.home-header-icon {
    color: white;
    font-size: 4rem;
}

.home-header-searchbar {
    display: none;
}

.home-header-desktop-searchbar {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.home-header-desktop-searchbar-container {
    width: 100%;
    display: flex;
    padding: 10px;
    gap: 10px;
}

.home-header-desktop-searchbar-txt {
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.home-header-desktop-searchbar-button {
    font-size: 2.5rem;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 5px;
    border: white solid 1px;
    background-color: var(--primary-color);
    color: white;
}

.home-header-desktop-searchbar-autocomplete {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 400px;
    top: 65px;
    margin-left: 10px;
    transition: all 0.4s ease 0s;
}

.home-header-desktop-searchbar-autocomplete-item {
    display: flex;
    /*justify-content: space-between;*/
    gap: 20px;
    align-items: center;
    border-top: solid 1px var(--custom-ligth-gray);
    height: 60px;
    padding: 10px;
}

.home-header-desktop-searchbar-autocomplete-item-img-container {
    display: flex;
    align-items: center;
}

.home-header-desktop-searchbar-autocomplete-item-img {
    width: 30px;
    height: 30px;
}

.home-header-desktop-searchbar-autocomplete-item-name {
    font-size: 1.2rem;
}

.home-header-desktop-searchbar-autocomplete-link { 
    background: none;
    border: none;
    display: flex;
    /*justify-content: space-between;*/
    gap: 20px;
    align-items: center;
}

.home-header-desktop-searchbar-autocomplete-link:link { text-decoration: none; }

.home-header-desktop-searchbar-autocomplete-link:visited { text-decoration: none; }

.home-header-desktop-searchbar-autocomplete-link:hover { text-decoration: none; }

.home-header-desktop-searchbar-autocomplete-link:active { text-decoration: none; }

.home-header-desktop-links {
    color: white;
    display: flex;
    align-items: flex-end;
    height: 40px;
    font-size: 1.6rem;
    gap: 10px;
}

.home-header-desktop-link {
    font-weight: bolder;
    background: none;
    border: none;
    color: white;
}

.home-header-user-profile {
    display: none;
}

.home-menu-container {
    position: fixed;
    top: 80px;
    left: 0;
    background-color: white;
    height: 100%;
    width: 250px;
}

.home-menu-container-active {
    position: fixed;
    top: 80px;
    left: 0;
    background-color: white;
    height: 100%;
}

.home-menu-title {
    display: flex;
    position: fixed;
    color: var(--primary-color);
    font-size: 2rem;
    height: 50px;
    padding: 5px 20px 5px 20px;
    align-items: center;
    background-color: white;
    width: 240px;
}

.home-main-wrap {
    margin-top: 80px;
    margin-bottom: 100px;
}

.home-main-view {
    padding: 20px;
    margin-left: 250px;
}

.home-footer {
    display: none;
}

.home-menu-items-container{
    margin-top: 55px;
    overflow-y: scroll;
    height: 80%;
}

.home-header-shopping-cart-qty {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2px;
    margin-left: 25px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

.home-header-shopping-cart {
    background: none;
    border: none;
}

.home-header-customer-profile {
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
}

.home-header-customer-profile-label {
    font-size: 1.8rem;
    /*font-weight: bold;*/
}

.home-header-customer-profile-icon-container {
    color: white;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 50px;
    padding: 5px;
}

.home-header-customer-menu {
    /* visibility y opacity deben ir juntos para que la animacion funcione */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 200px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 13px 2px rgba(0,0,0,0.75);
    padding: 10px;
    transition: all 200ms linear;
}

.home-header-customer-menu-active {
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 200px;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 13px 2px rgba(0,0,0,0.75);
    padding: 10px;
    transition: all 200ms linear;
}

.home-header-customer-menu-option {
    color: var(--primary-color);
}

@media (max-width:899px) {
    .home-header {
        position: fixed;
        top: 0;
        background-color: var(--primary-color);
        width: 100%;
    }

    .home-header-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .home-header-desktop-searchbar {
        display: none;
    }

    .home-header-searchbar {
        width: 100%;
        display: flex;
        padding: 10px;
        gap: 10px;
    }

    .home-header-searchbar-container {
        width: 100%;
        display: flex;
        padding: 10px;
        gap: 10px;
    }

    .home-header-searchbar-txt {
        height: 40px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

    .home-header-searchbar-button {
        font-size: 2.5rem;
        height: 40px;
        width: 40px;
        padding: 5px;
        border-radius: 5px;
        border: white solid 1px;
        background-color: var(--primary-color);
        color: white;
    }
    
    .home-header-right-icons {
        display: flex;
        gap: 10px;
    }

    .home-header-logo-img {
        width: 150px;
    }
    
    .home-header-logo {
        
    }
    
    .home-header-menu {
        display: block;
    }
    
    .home-header-user-profile {
        display: block;
    }
    
    .home-header-shopping-cart {

    }
    
    .home-header-top-logo {
        
    }
    
    .home-header-icon {
        color: white;
        font-size: 4rem;
    }

    .home-header-searchbar-autocomplete {
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 200px;
        background-color: white;
        border-radius: 5px;
        border: none;
        width: 90%;
        top: 125px;
        margin-left: 10px;
        transition: all 0.4s ease 0s;
    }
        
    .home-footer {
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: space-between;
        bottom: 0;
        padding: 20px;
        background-color: white;
        z-index: 1000;
    }
    
    .icon-footer-selected {
        color: var(--primary-color);
        font-size: 2.5rem;
        text-align: center;
        transition: all 250ms;
    }
    
    .icon-footer {
        color: #565656;
        font-size: 2.5rem;
        text-align: center;
    }
    
    .home-footer-icon-label {
        font-size: 1.5rem;
    }

    .home-header-desktop-links {
        display: none;
    }

    .home-header-customer-profile {
        display: none;
    }

    .home-main-wrap {
        margin-top: 120px;
        margin-bottom: 100px;
    }

    .home-menu-title {
        display: flex;
        position: fixed;
        color: var(--primary-color);
        font-size: 2rem;
        height: 50px;
        padding: 5px 20px 5px 20px;
        align-items: center;
        background-color: white;
        margin-bottom: 55px;
        width: 100%;
    }

    .home-menu-container {
        display: none;
        margin-top: 40px;
        width: 100%;
        z-index: 500;
    }

    .home-menu-container-active {
        display: block;
        background-color: white;
        margin-top: 40px;
        width: 100%;
        transition: all 0.4s ease 0s;
        height: 100%;
        overflow-y: scroll;
        margin-bottom: 400px;
        z-index: 500;
    }

    .home-menu-items-container {
        overflow-y: scroll;
        margin-bottom: 400px;
    }

    .home-main-view {
        margin-left: 0;
        margin-top: 150px;
    }

    .home-header-shopping-cart-qty {
        margin-left: 46px;
        margin-top: -8px;
    }
    
}