.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--custom-ligth-gray);
    border-radius: 5px;
    min-width: 250px;
    max-width: 250px;
    width: 100%;
    gap: 10px;
    padding: 30px;
    height: 350px;
    color: black;
}

.product-card:hover {
    box-shadow: 1px 1px 13px 2px rgba(0,0,0,0.75);
    transition: all 0.4s ease 0s;
}

.product-card-img {
    width: 100px;
    height: 100px;
}

.product-card-name {
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
    height: 40px;
}

.product-card-mu {
    display: flex;
    font-size: 1.2rem;
    /*font-weight: bolder;*/
    text-align: center;
    align-items: center;
    height: 40px;
}

.product-card-price {
    font-size: 1.8rem;
    font-weight: bolder;
}

.product-card-pum {
    font-size: 1.4rem;
    color: var(--custom-dark-grey);
}

.product-card-sku {
    font-size: 1.2rem;
    color: var(--custom-dark-grey);
}

.product-card-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    color: white;
    font-weight: bolder;
}
.product-card-link:link { text-decoration: none; }
.product-card-link:visited { text-decoration: none; }
.product-card-link:hover { text-decoration: none; }
.product-card-link:active { text-decoration: none; }

@media (max-width:424px) {
    .product-card {
        max-width: 200px;
    }
}

.product-card-qty-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-card-qty-plus {
    display: flex;
    background-color: var(--primary-color);
    border: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 2.8rem;
}

.product-card-qty-minus {
    display: flex;
    border: solid 1px var(--primary-color);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 2.8rem;
}

.product-card-qty-input {
    width: 50px;
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    text-align: center;
}