.splash {
    background-color: #00b9e2;
    background-image: url("../../img/splash.png");
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

@media (max-width:425px) {
    .splash {
        background-color: #00b9e2;
        background-image: url("../../img/splash.png");
        width: 100%;
        height: 100vh;
        background-size: 150%;
        background-repeat: no-repeat;
        background-position: center;
    }
}