.home-container {
    width: 100%;
}

.home-categories-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /*width: 100%;*/
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.home-category-container {
    margin-bottom: 50px;
    width: 100%;
}

.home-category-name {
    color: var(--primary-color);
    font-size: 4rem;
    width: 50%;
}

.home-products-container {
    /*display: flex;
    overflow-x: hidden;
    gap: 10px;
    width: 100%;*/
}

.card {
    width: 100px;
    height: 100px;
    background-color: var(--primary-color);
}

#mySwiperSlide {
    width: auto;
}

.home-category-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.home-category-link:link { 
    text-decoration: none; 
}

.home-category-link:visited {
    text-decoration: none;
}

.home-category-link:hover {
    text-decoration: none;
}

.home-category-link:active {
    text-decoration: none;
}

.home-category-link {
    color: var(--primary-color);
    font-size: 1.6rem;
}

.home-category-link-container {
    display: flex;
    justify-content: right;
    width: 50%;
}

.home-routes-banner-container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    /*height: 200px;*/
    margin: auto;
}

.home-routes-banner-img {
    height: 150px;
}

.home-routes-banner-row-1 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.home-routes-banner-row-2 {
    display: flex;
    justify-content: center;
}

@media (max-width:799px) {
    .home-routes-banner-row-1 {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .home-routes-banner-img {
        height: 100%;
    }
}