.shoppingcart-list-container {
    position: fixed;
    right: -460px;
    width: 450px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.75);
    transition: right 500ms ease-in-out;
}

.shoppingcart-list-container-active {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 450px;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 10px 15px 1px rgba(0,0,0,0.75);
    transition: right 500ms ease-in-out;
}

.shoppingcart-list-title {
    display: flex;
    color: var(--primary-color);
    font-size: 2rem;
    height: 50px;
    padding: 5px 20px 5px 20px;
    align-items: center;
    background-color: white;
    width: 240px;
    border-bottom: solid 1px var(--custom-ligth-gray);
}

.shoppingcart-item-img-container {
    width: 40px;
    height: 40px;
}

.shoppingcart-item-img {
    width: 40px;
    height: 40px;
}

.shoppingcart-item-info-name {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
}

.shoppingcart-item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shoppingcart-item {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.shoppingcart-item-container {
    width: 100%;
    border-bottom: solid 1px var(--custom-ligth-gray);
    padding: 5px;
}

.shoppingcart-list-qty-container {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: 10px;
}

.shoppingcart-list-qty-plus {
    display: flex;
    background-color: var(--primary-color);
    border: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 2.8rem;
}

.shoppingcart-list-qty-minus {
    display: flex;
    border: solid 1px var(--primary-color);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 2.8rem;
}

.shoppingcart-list-qty-input {
    width: 50px;
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    text-align: center;
}

.shoppingcart-items-total-container {
    position: fixed;
    bottom: 0;
    border-top: solid 1px var(--custom-ligth-gray);
    width: 450px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: white;
}

.shoppingcart-list-total {
    width: 100%;
}

.shoppingcart-item-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingcart-item-info-total {
    width: 100%;
    font-size: 1.8rem;
    transition: none;
}

.shoppingcart-items {
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    height: 100vh;
}

.shoppingcart-list-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

@media (max-width:899px) {
    .shoppingcart-list-container {
        width: 100%;
        top: 138px;
        right: -1000px;
    }

    .shoppingcart-list-container-active {
        width: 100%;
        top: 138px;
        /*right: 0;*/
    }

    .shoppingcart-items-total-container {
        position: fixed;
        width: 100%;
        bottom: 85px;
        
    }

    .shoppingcart-items {
        overflow-y: scroll;
        height: 100vh;
    }
}