.simple-input-main-container {
    width: 100%;
    margin-bottom: 10px;
}

.simple-input-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.simple-input {
    border: solid 1px var(--custom-gray);
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
    font-size: 1.6rem;
    color: var(--custom-dark-gray)
}

.simple-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--custom-gray);
    opacity: 1; /* Firefox */
  }

.simple-input-error {
    border: solid 1px #dc3545;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
}

.simple-input-msg {
    color: #dc3545;
    font-size: 1.4rem;
    height: 20px;
    margin-top: 5px;
}

.simple-input-label {
    font-size: 1.4rem;
    width: 100px;
}

.simple-input:focus {
    outline: none;
    border: solid 1px var(--primary-color);
}

@media (max-width:899px) {
    .simple-input-msg {
        margin-left: 0px;
    }
}