.product-main-container {
    width: 100%;
    height: 100%;
}

.product-view-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.product-img-container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 500px;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
}

.product-img {
    width: 300px;
    height: 300px;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.product-name {
    font-size: 3rem;
    font-weight: bolder;
    height: 40px;
    margin-bottom: 10px;
}

.product-mu {
    display: flex;
    font-size: 2rem;
    /*font-weight: bolder;*/
    align-items: center;
    height: 40px;
}

.product-price {
    font-size: 3rem;
    font-weight: bolder;
}

.product-pum {
    font-size: 1.8rem;
    color: var(--custom-dark-grey);
}

.product-sku {
    font-size: 1.8rem;
    color: var(--custom-dark-grey);
}

.product-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    color: white;
    font-weight: bolder;
}

.product-mu-container {
    z-index: 500;
}

.product-link:link { text-decoration: none; }
.product-link:visited { text-decoration: none; }
.product-link:hover { text-decoration: none; }
.product-link:active { text-decoration: none; }

#mySwiperSlide {
    width: auto;
}

.product-mu-container {
    margin-top: 100px;
}

.product-mu-label {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

.product-qty-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.product-qty-plus {
    display: flex;
    background-color: var(--primary-color);
    border: none;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-size: 2.8rem;
}

.product-qty-minus {
    display: flex;
    border: solid 1px var(--primary-color);
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 2.8rem;
}

.product-qty-input {
    width: 50px;
    border: solid 1px var(--primary-color);
    border-radius: 5px;
    text-align: center;
}

@media (max-width:467px) {
    .product-main-container {
        width: 100%;
        height: 100%;
    }

    .product-view-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .product-img-container {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .product-container {
        width: 100%;
    }

    .product-img {
        width: 250px;
        height: 250px;
    }

    .product-info-container {
        width: 100%;
        height: 350px;
        justify-content: space-between;
        align-items: center;
    }

    .product-name {
        text-align: center;
        margin-bottom: 30px;
    }
}