.modal-container-disabled {
    display: none;
    transition: all 250ms;
}

.modal-container {
    display: flex;
    position: fixed; /* Stay in place */
    z-index: 9000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 250ms;
}

.modal-content {
    margin: auto;
    width: 60%;
    min-width: 320px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px var(--custom-ligth-gray);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.modal-header-title {
    font-size: 2rem;
}

.modal-header-close-button {
    background: none;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    border: solid 1px var(--custom-ligth-gray);
    border-radius: 10px;
}

.modal-body {
    display: flex;
    justify-content: center;
}

@media (max-width:899px) {
    .modal-content {
        width: 80%;
    }
}