.checkout-container {
    min-width: 320px;
}

.checkout-container {
    display: flex;
    width: 100%;
    min-width: 320px;
    margin-top: 8rem;
}

.checkout-main-container{
    width: 100%;
}

.checkout-tab-container {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    transition: all 200ms linear;
    margin-bottom: 30px;
}

.checkout-tab {
    display: flex;
    color: var(--custom-dark-gray);
    font-size: 1.8rem;
    width: 33.3%;
    border-right: solid 1px var(--custom-dark-gray);
    border-bottom: solid 1px var(--custom-dark-gray);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 200ms linear;
    justify-content: center;
}

.checkout-tab-active {
    color: var(--primary-color);
    border-bottom: solid 1px var(--primary-color);
}

.checkout-last-tab-active {
    display: flex;
    color: var(--primary-color);
    font-size: 1.8rem;
    width: 33.3%;
    justify-content: center;
    border-bottom: solid 1px var(--primary-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 200ms linear;
}

.checkout-last-tab {
    display: flex;
    color: var(--custom-dark-gray);
    font-size: 1.8rem;
    width: 33.3%;
    justify-content: center;
    border-bottom: solid 1px var(--custom-dark-gray);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 200ms linear;
}

.checkout-tab-number {
    margin-right: 20px;
}

.checkout-tab-text {
    text-align: center;
}

.checkout-content-container {
    margin-top: 50px;
}

.checkout-location-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkout-location-select {
    border: solid 1px var(--custom-gray);
    border-radius: 5px;
    height: 30px;
    width: 12rem;
    padding: 5px;
    background-color: white;
    font-size: 1.6rem;
    color: var(--custom-dark-gray)
}

.checkout-location-input-street-container {
    width: 5rem;
}

.checkout-location-input-separator-char {
    color: var(--custom-gray);
    font-size: 2.5rem;
}

.checkout-location-tel-container {
    width: 50%;
}

.checkout-form {
    width: 80%;
    margin: auto;
}

.checkout-modal-back-button-container {
    color: var(--primary-color);
}

.checkout-back-button-icon {
    color: var(--primary-color);
    font-size: 3rem;
    margin-right: 1rem;
}

.checkout-back-button-text {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.checkout-modal-back-button {
    display: flex;
    align-items: center;
}

.checkout-location-form-buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkout-location-details-container {
    width: 80%;
}

.checkout-location-zone-container {
    width: 50%;
}

.checkout-title {
    font-size: 2.6rem;
    color: var(--custom-dark-gray);
    margin-bottom: 40px;
}

.checkout-payment-method-contaniner {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.checkout-payment-method-option {
    display: flex;
    background-color: var(--primary-selection);
    gap: 30px;
    width: 150px;
    border-radius: 5px;
    padding: 10px;
}

.checkout-payment-method-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
}

.checkout-payment-method-icon-container {
    height: 60px;
}

.checkout-payment-method-label-text {
    text-align: center;
}

.checkout-payment-method-icon {
    width: 4rem;
}

.checkout-payment-method-img {
    width: 5rem;
}

.checkout-location-msg-container {
    color: #dc3545;
    font-size: 1.4rem;
}

.checkout-location-field-container {
    margin-bottom: 2rem;
}

.checkout-result-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.checkout-total {
    font-size: 2.5rem;
    color: var(--custom-dark-gray);
    text-align: center;
}

.checkout-result-text {
    font-size: 1.8rem;
    color: var(--custom-dark-gray);
    text-align: center;
}

.checkout-result-spinner {
    font-size: 3rem;
    color: var(--primary-color);
    text-align: center;
    margin-top: 2rem;
}

.checkout-result-box {
    text-align: center;
}

.checkout-result-icon {
    font-size: 5rem;
    margin-bottom: 10px;
}

@media (max-width:899px) {
    .checkout-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .checkout-last-tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .checkout-tab-number {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .checkout-location-tel-container {
        width: 100%;
    }

    .checkout-location-zone-container {
        width: 100%;
    }
}