.checkout-modal-address-container {
    display: flex;
    gap: 10px;
}

.checkout-modal-select {
    border: solid 1px var(--custom-gray);
    border-radius: 5px;
    height: 30px;
    width: 15rem;
    padding: 5px;
    background-color: white;
    font-size: 1.6rem;
    color: var(--custom-dark-gray)
}

.checkout-modal-input-street-container {
    width: 5rem;
}

.checkout-modal-input-separator-char {
    color: var(--custom-gray);
    font-size: 2.5rem;
}

.checkout-modal-total {
    font-size: 2.5rem;
    color: var(--custom-dark-gray);
    text-align: center;
}

.checkout-modal-address-tel-container {
    width: 50%;
}

.checkout-modal-payment-method-contaniner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.checkout-modal-payment-method-option {
    display: flex;
    gap: 30px;
    width: 30%;
}

.checkout-modal-payment-method-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
}

.checkout-modal-payment-method-icon-container {
    height: 60px;
}

.checkout-modal-payment-method-label-text {
    text-align: center;
}

.checkout-modal-content {
    width: 100%;
    height: 500px;
}

.checkout-modal-payment-method-icon {
    width: 4rem;
}

.checkout-modal-form {
    width: 100%;
}

.checkout-modal-payment-method-img {
    width: 5rem;
}

.checkout-modal-tab-container {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 200ms linear;
    margin-bottom: 30px;
}

.checkout-modal-tab {
    display: flex;
    color: var(--custom-dark-gray);
    font-size: 1.8rem;
    width: 33.3%;
    border-right: solid 2px var(--custom-dark-gray);
    border-bottom: solid 2px var(--custom-dark-gray);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 200ms linear;
}

.checkout-modal-tab-active {
    color: var(--primary-color);
    border-bottom: solid 2px var(--primary-color);
}

.checkout-modal-last-tab {
    display: flex;
    color: var(--custom-dark-gray);
    font-size: 1.8rem;
    width: 33.3%;
    border-bottom: solid 2px var(--custom-dark-gray);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.checkout-modal-tab-number {
    margin-right: 20px;
}

.checkout-modal-tab-text {
    width: 100%;
}

.checkout-modal-form-buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.checkout-back-button-container {
    width: 80%;
    margin: auto;
    color: var(--primary-color);
}

.checkout-modal-back-button-icon {
    color: var(--primary-color);
    font-size: 3rem;
    margin-right: 1rem;
}

.checkout-modal-back-button-text {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.checkout-modal-back-button {
    display: flex;
    align-items: center;
}