.button {
    background-color: white;
    border: none;
    transition: all 250ms ease-in-out;
}

.button-active {
    background-color: red;
    border: none;
    transition: all 250ms ease-in-out;
}
