:root {
    --primary-color: #00b9e2;
    --background-color: #F5F9F6;
    --custom-ligth-gray: #efefef;
    --custom-gray: #cecece;
    --custom-dark-gray: #565656;
    --primary-selection: #00b9e255;
}

.custom-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    color: white;
    font-weight: bolder;
}

.custom-button-white {
    color: var(--primary-color);
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    background-color: white;
    font-weight: bolder;
}

.form-field {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    gap: 20px;
}

.field-input-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.form-input {
    border: solid 1px var(--custom-gray);
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
}

.form-input-error {
    border: solid 1px #dc3545;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 5px;
}

.field-input-msg {
    color: #dc3545;
    font-size: 1.4rem;
    height: 20px;
    margin-left: 95px;
    margin-top: 5px;
}

.form-label {
    font-size: 1.4rem;
    width: 100px;
}

.form-label-checkbox {
    font-size: 1.4rem;
    width: 100%;
    overflow-x: auto;
}

.form-input:focus {
    outline: none;
    border: solid 1px var(--primary-color);
}

