.login-modal-form-buttons-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-modal-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
}

.login-modal-link {
    color: var(--primary-color);
}

.login-modal-from-spinner {
    font-size: 3rem;
    color: var(--primary-color);
}